@model FSDP.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Delete Course Completion";
}

<div id="bodyNavSeperatorDiv">

    <div>
        <h2>@ViewBag.Title</h2>

        <h3>Are you sure you want to delete this?</h3>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCompleted)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cours.CourseName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>