@model IEnumerable<FSDP.DATA.EF.Cours>

@{
    ViewBag.Title = "Courses Available";
}

<h2>@ViewBag.Title</h2>


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div id="progressbar"><div class="progress-label">Loading...</div></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @if (User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.IsActive)

            }
        </th>
        <th>
            Course Completion
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.DisplayFor(modelItem => item.IsActive)

                }
            </td>
            @if (User.IsInRole("Employee"))
            {
                <td>
                    Will Insert Lessons within Course completed
                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("View Lessons","CourseLessons","Lessons", new { id = item.CourseID}, null)
                

                @if (User.IsInRole("Admin"))
                {
                    @: |
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID })
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                }
            </td>
            <td>
            </td>
        </tr>
    }

</table>


@section pageSpecificSlider{
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="~/Content/img/1920x1080/fsdp.png" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h1 class="carousel-title" style="text-shadow: 2px 2px 2px black, 0 0 25px purple, 0 0 10px indigo;">Courses</h1>
                        <p>TODO: total courses completed <br /> TODO: total courses remaining</p>
                    </div>
                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Explore</a>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
   <script>
        $(function () {
            var progressbar = $("#progressbar"),
              progressLabel = $(".progress-label");

            progressbar.progressbar({
                value: false,
                change: function () {
                    progressLabel.text(progressbar.progressbar("value") + "%");
                },
                complete: function () {
                    progressLabel.text("Complete!");
                }
            });

            function progress() {
                var val = progressbar.progressbar("value") || 0;

                progressbar.progressbar("value", val + 2);

                //if (val < 99) {
                //    setTimeout(progress, 80);
                //}
            }

            setTimeout(progress, 2000);
        });
</script> 
}