@model IEnumerable<FSDP.DATA.EF.Lesson>

@{

    ViewBag.Title = "Lessons to Complete" ;
}

<h2>@ViewBag.Title</h2>
<span class="btn btn-warning" id="prezStyle">
    @Html.ActionLink("Back to Courses", "Index", "Courses")
</span>    
<hr />

<div id="progressbar"><div class="progress-label">Loading...</div></div>
<table class="table" id="DataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFilename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            }

            <th></th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfFilename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.CourseName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            }
            <td class="btn btn-warning" id="prezStyle">
                @Html.ActionLink("View Lesson", "Details", new { id = item.LessonID })
            </td>
        </tr>
    }
</tbody>
</table>

@section pageSpecificSlider{
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="~/Content/img/1920x1080/fsdp.png" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h1 class="carousel-title" style="text-shadow: 2px 2px 2px black, 0 0 25px purple, 0 0 10px indigo;">Course Specific Lessons</h1>
                        <p>@ViewBag.Progress % Course Progress <br /> Demo version req View Lesson button click to see if you have viewed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>
}