
@model FSDP.DATA.EF.Lesson


@{
    ViewBag.Title = "Details for";
}

<div id="bodyNavSeperatorDiv">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <div>
        <h4>@Model.LessonTitle</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Introduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Introduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.VideoUrl)*@
                <iframe width="560" height="315" src="@Model.VideoUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    @*<img src=$("http://i3.ytimg.com/vi/{0}/mqdefault.jpg", @Model.VideoUrl ) />*@
                </iframe>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PdfFilename)
            </dt>

            <dd>
                @*<img src="@Url.Content("~/Content/img/pdfs/" + Model.PdfFilename)" alt="@Model.LessonTitle" ></img>*@
                <div class="row">
                    <a target="_blank" href="@Url.Action("DisplayPDF", "StarDocs", Model.LessonID)" >Click to View PDF |</a>
 
                    @Html.DisplayFor(model => model.PdfFilename)


                </div>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cours.CourseName)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonID }) 
            @: |

        }
        @Html.ActionLink("Back to Lessons", "CourseLessons", "Lessons", new { id = Model.CourseID}, null)
    </p>
</div>