@model IEnumerable<FSDP.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons Available";
}

<h2>@ViewBag.Title</h2>


<p>
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-warning" id="prezStyle">
            @Html.ActionLink("Create New", "Create")
        </button>
        @: |
    }
    <button class="btn btn-warning" id="prezStyle">
        @Html.ActionLink("Back to Courses", "Index", "Courses")
    </button>
</p>

<table class="table" id="DataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFilename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </th>
            <th>
                @if (User.IsInRole("Admin"))
            {
                    @Html.DisplayNameFor(model => model.IsActive)

                }
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoUrl)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.PdfFilename)
                    <a href="@Url.Content("~/Content/img/pdfs/" + item.PdfFilename)" target="_blank">
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cours.CourseName)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                {
                        @Html.DisplayFor(modelItem => item.IsActive)

                    }
                </td>

                <td>
                    <button class="btn-sm btn-warning" id="prezStyle">
                        @Html.ActionLink("Details", "Details", new { id = item.LessonID })
                    </button>
                    @if (User.IsInRole("Admin"))
                {
                        <button class="btn-sm btn-warning" id="prezStyle">
                            @Html.ActionLink("Edit", "Edit", new { id = item.LessonID })
                        </button>
                        <button class="btn-sm btn-warning" id="prezStyle">
                            @Html.ActionLink("Delete", "Delete", new { id = item.LessonID })
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section pageSpecificSlider{
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="~/Content/img/1920x1080/fsdp.png" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h1 class="carousel-title" style="text-shadow: 2px 2px 2px black, 0 0 25px purple, 0 0 10px indigo;">Lessons</h1>
                        <p>@ViewBag.LessonProgress</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>
}